.card {
    background-color: #343a40;
    outline-color: gold;
}
.card-header{
    text-align: center;
}
.card-title {
    text-transform: uppercase;
    text-align: center;
    color:white;
    font-weight: 900;
}

.list-group-item {
    background-color: gold;
    padding: 0rem 0rem;
}

.card-footer{
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 900;
    font-size: x-large;
    border: transparent;

}
.card-text{
    font-weight: bolder;
    color: mediumvioletred;
    
}